



	
	  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          
          <p class="text-white small mb-4 mb-lg-0" style="background-color:black; opacity: 0.3;">&copy; AudioNation 2019. All Rights Reserved.</p>
        </div>
        
      </div>
    </div>
  </footer>	
	
		</body>
		
		
		
		
		
</html>
