<% include ../partials/header %>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Welcome</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      
      <div id="item-cont">
        
        <figure class="snip1423">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample57.jpg" alt="sample57" />
          <figcaption>
            <h3>Pudol Doux</h3>
            <p>All this modern technology just makes people try to do everything at once.</p>
            <div class="price">
              <s>$24.00</s>$19.00
            </div>
          </figcaption><i class="ion-android-cart"></i>
          <a href="#"></a>
        </figure>
        
        <figure class="snip1423 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample98.jpg" alt="sample98" />
        <figcaption>
          <h3>Kurie Secco</h3>
          <p>To make a bad day worse, spend it wishing for the impossible.</p>
          <div class="price">
            <s>$29.00</s>$39.00
          </div>
        </figcaption><i class="ion-android-cart"></i>
        <a href="#"></a>
        </figure>
        
        <figure class="snip1423"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample90.jpg" alt="sample90" />
          <figcaption>
            <h3>Zosaisan Invec</h3>
            <p>Why should I have to work for everything? It's like saying that I don't deserve it.</p>
            <div class="price">
              <s>$35.00</s>$45.00
            </div>
          </figcaption><i class="ion-android-cart"></i>
          <a href="#"></a>
        </figure>
        
        <figure class="snip1423">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample57.jpg" alt="sample57" />
          <figcaption>
            <h3>Pudol Doux</h3>
            <p>All this modern technology just makes people try to do everything at once.</p>
            <div class="price">
              <s>$24.00</s>$19.00
            </div>
          </figcaption><i class="ion-android-cart"></i>
          <a href="#"></a>
        </figure>
        
        <figure class="snip1423 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample98.jpg" alt="sample98" />
        <figcaption>
          <h3>Kurie Secco</h3>
          <p>To make a bad day worse, spend it wishing for the impossible.</p>
          <div class="price">
            <s>$29.00</s>$39.00
          </div>
        </figcaption><i class="ion-android-cart"></i>
        <a href="#"></a>
        </figure>
        
        <figure class="snip1423"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample90.jpg" alt="sample90" />
          <figcaption>
            <h3>Zosaisan Invec</h3>
            <p>Why should I have to work for everything? It's like saying that I don't deserve it.</p>
            <div class="price">
              <s>$35.00</s>$45.00
            </div>
          </figcaption><i class="ion-android-cart"></i>
          <a href="#"></a>
        </figure>
        
        <figure class="snip1423">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample57.jpg" alt="sample57" />
          <figcaption>
            <h3>Pudol Doux</h3>
            <p>All this modern technology just makes people try to do everything at once.</p>
            <div class="price">
              <s>$24.00</s>$19.00
            </div>
          </figcaption><i class="ion-android-cart"></i>
          <a href="#"></a>
        </figure>
        
        <figure class="snip1423 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample98.jpg" alt="sample98" />
        <figcaption>
          <h3>Kurie Secco</h3>
          <p>To make a bad day worse, spend it wishing for the impossible.</p>
          <div class="price">
            <s>$29.00</s>$39.00
          </div>
        </figcaption><i class="ion-android-cart"></i>
        <a href="#"></a>
        </figure>
        
        <figure class="snip1423"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample90.jpg" alt="sample90" />
          <figcaption>
            <h3>Zosaisan Invec</h3>
            <p>Why should I have to work for everything? It's like saying that I don't deserve it.</p>
            <div class="price">
              <s>$35.00</s>$45.00
            </div>
          </figcaption><i class="ion-android-cart"></i>
          <a href="#"></a>
        </figure>
        
        <figure class="snip1423">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample57.jpg" alt="sample57" />
          <figcaption>
            <h3>Pudol Doux</h3>
            <p>All this modern technology just makes people try to do everything at once.</p>
            <div class="price">
              <s>$24.00</s>$19.00
            </div>
          </figcaption><i class="ion-android-cart"></i>
          <a href="#"></a>
        </figure>
        
        <figure class="snip1423 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample98.jpg" alt="sample98" />
        <figcaption>
          <h3>Kurie Secco</h3>
          <p>To make a bad day worse, spend it wishing for the impossible.</p>
          <div class="price">
            <s>$29.00</s>$39.00
          </div>
        </figcaption><i class="ion-android-cart"></i>
        <a href="#"></a>
        </figure>
        
        <figure class="snip1423"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample90.jpg" alt="sample90" />
          <figcaption>
            <h3>Zosaisan Invec</h3>
            <p>Why should I have to work for everything? It's like saying that I don't deserve it.</p>
            <div class="price">
              <s>$35.00</s>$45.00
            </div>
          </figcaption><i class="ion-android-cart"></i>
          <a href="#"></a>
        </figure>
        
      </div>
      
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>



<% include ../partials/footer %>
        
        
        
        
        
        
        
        