<% include ../partials/header %>
<header class="masthead text-white text-justified">
    <div class="overlay" ><img src="/vinyl-2573856_1920.jpg" alt="newsImg" style="width:100%;"></div>
   
   
         <div class="container">
                <div class="row"> 
                    <div class="col-xl-9 mx-auto">
                            <div class="mainCont">
                                <h2>Your Order Has Been Processed</h2>
                
                          

</header>





</div>

























<% include ../partials/footer %>
