<% include ../partials/header %>
<header class="masthead text-white text-justified">
    <div class="overlay" ><img src="/vinyl-2573856_1920.jpg" alt="newsImg" style="width:100%;"></div>
   
   
         <div class="container">
                <div class="row"> 
                    <div class="col-xl-9 mx-auto">
                            <div class="mainCont">
                                <h2>Thank you</h2>
                
                
                        
                            <table id="customers">
                                <tr>
                                @orders.limit().order(id: :desc).each do |order|
                                
                                <td>Order you just placed is : order.id</td>
                                
                                
                                </tr>
                                
                            </table>
                            
                            
                            <table id="customers">
                                
                                <tr>
                                
                                <!--item = Orderitem.find_by_id(id)-->
                                
                                <td> title </td>
                                <td>quantity </td>
                                <td>price</td>
                                <td>number_to_currency(item.quantity * item.price, :unit=>"€")</td>
                                
                                </tr>
                                
                                linetotal = 0
                                linetotal 
                                
                                
                                <tr>
                                    <td>Order Total: &euro; total</td>
                                    
                                </tr>
                                
                                
                                <tr>
                                    shipping = 25 
                                    @grandtotal = shipping + @total 
                                    <td>Shipping &euro;25</td>
                                    <td>Your Total payable is: @grandtotal </td>
                                    
                                </tr>
                        </div>
                    </div>
                </div>
            </table>
</header>





</div>

























<% include ../partials/footer %>
