<% include ../partials/header %>

  <h1>Item Name</h1>
  <h2>Buy For &euro;25</h2>
  <form action="/pay" method="post">
    <input type="submit" value="Buy">
  </form>

  
  
  

<% include ../partials/footer %>